# Exercise for the Introduction to Pandas

### Import
**A.** Import the libraries necessary to work with data frames in Python and to work with SQLite databases!

### Read data from SQLite database
**B.** Read the data about cars towed in Chicago from the SQLite database `data/towed.db`. When doing so, make sure that the date contained in the coulmn of the same name is really interpreted as a date! 

**Hints**
1. you can find the documentation for `pandas.io.sql.read_sql()` [here](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html)
2. the data format compatible with `strftime` available here is `%m/%d/%Y`

## Pandas and SQL
It is recommended that you solve the following tasks in parallel using an SQLite-GUI to build the corresponding SQL queries. The SQL equivalent for the pandas operations should also be given here!

### Overview over the data
**C.** First, look at
1. the first five data sets
2. then at the data sets number 100 - 104 and
3. finally check the *structure* of the data set!

#### SQL equivalent
```SQL
SELECT
```

#### SQL equivalent
```SQL
SELECT
```

#### SQL equivalent
```SQL
SELECT
```

### Simple Queries
**D.** Disply the cars towed on November 4th, 2014

#### SQL equivalent
```SQL
SELECT
```

### Indexing
**E.** Use the date-column as the index!

### Further Queries
**F.1.** Display the information about cars towed on November 4th, 2014 (first 5 rows)

#### SQL equivalent
```SQL
SELECT 
```

**F.2** Display the date and make of the cars towed on November 4th, 2014.

#### SQL equivalent
```SQL
SELECT
```

**F.3** Display the date, make, color and state of the cars towed.

#### SQL equivalent
```SQL
SELECT
```

### Filter Conditions
**F.4** Display all the FORDs towed (ordered descendingly by state)

#### SQL equivalent
```SQL
SELECT 
```

**F.5** Display all black towed cars from the state of **MI**chigan!

#### SQL equivalent
```SQL
SELECT
```

**F.6** Display all towed **PORS**ches or <b>N</b>ew **Y**orker's (order by make (ascending) and color (descending))!

#### SQL equivalent
```SQL
SELECT
```

### Masks
**F.7** Create a filter mask for the cars in 4D style from **IL**linnois!

#### SQL equivalent
```SQL
CREATE VIEW 
```

**F.8** Test how many towed cars satisfy the filter condition!

#### SQL equivalent

```SQL
SELECT 
```

**F.9** Display the date, make, model, and color of the 4D-cars from Illinois!

#### SQL equivalent
```SQL
SELECT 
```

### Grouping
**G.1** Create an Object grouping the towed cars by state!

**G.2** Count the values in the respective columns of the grouping (first 5 rows)!

#### SQL equivalent
```SQL
SELECT 
```

**G.3** Count the number of data rows of the grouping (last 5 rows)!

#### SQL equivalent
```SQL
SELECT 
```

**G.4** Display the ten states with the highest number of *distinct* cars towed (`plate` identifies the car)!

#### SQL equivalent
```SQL
SELECT 
```

## Analysis Task
Generate a data frame / a table containing the US states and their distance to Chicago. Join this with the data frame / the table `towed`. Then try to find a correlation between the distances and the number of cars towed from the respective states.

**Hints**
1. The distance to Chicago might just be measured by the distance between Chicago and the state capitals (or some other approximation which makes sense)
2. If you create the respectibe table as a text file (csv), it can easily be used in Python or uploaded to MySQL or SQLite and therefore be used in both universes in parallel.

#### SQL equivalent
```SQL
SELECT 
```